<section class="landing-section bg-black h-screen w-screen text-center relative"
data-header-color="black">
	
	<div class="z-30 relative h-full flex flex-col">

		<header>
			<h2 class="text-black pt-40 text-4xl font-medium">Model Y</h2>
			<p class="text-black text-sm underline">Concertar una prueba de conducción</p>
		</header>

		<footer class="flex flex-col flex-grow justify-end pb-20">
			<div class="flex gap-x-4 mx-auto">
				<a class="bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-black hover:text-white transition-colors" 
                href="">Explorar Inventario</a>
                <a class="bg-white text-sm rounded font-medium px-12 py-2 hover:text-white transition-colors hover:bg-black inline-flex justify-center items-center text-black" 
                href="">Pedido personalizado</a>
			</div>
		</footer>

	</div>
		<div class="z-10 absolute top-0 bottom-0 object-center object-cover h-full w-full">
			<img src="/Model-Y.webp" alt="Model-Y" class="h-full w-full object-cover object-center">
		</div>
	</section>